* {       
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* if incase roboto didn't support on browser the sans-serif formate will automatically applied */
body{
  font-family: 'roboto',sans-serif;
}

